################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RequestTrackerProject/.vs/RequestTrackerProject/v15
